<h2>在父子组件之间传递状态</h2>

{{#user-profiles selectedUser=selectedUser userList=model as |selectedUser userList|}}
  {{profile-header user=selectedUser}}
  <div class="grid">
    {{user-list local-class="user-list"
      selectedUser=selectedUser userList=userList
      select=(action 'selectUser')
      clear=(action 'clearUser')}}
    {{profile-display user=selectedUser}}
  </div>
{{/user-profiles}}