<h2>在父子组件之间传递状态</h2>

{{#user-profiles model as |user api|}}
  {{user.header api.selectedUser}}
  <div class="grid">
    {{user.list api}}
    {{user.display api.selectedUser}}
  </div>
{{/user-profiles}}